/* Global reset */
* {
  box-sizing: border-box;
}

:root {
  /* colors */
  --background-clr: #111;
  --txt-clr: white;
  --seat-clr: #761818;
  --seat-hover-clr: #5d1313;
  --selected-clr: orange;
  --booked-clr: red;
  --booked-hover-clr: gray;
  --popup-bg-clr: orange;
  --highlight-clr: aliceblue;
  --cinema-screen-bg: #fff;
  --cinema-screen-txt-clr: #333;

  /* shadows */
  --highlight-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7);
  --screen-shadow: 0 0 50px 20px rgba(255, 255, 255, 0.7);
  --heading-txt-shadow: #fc0 1px 0 10px;

  /* Dimensions */
  --cinema-width: 600px;
  --cell-width: 35px;
  --cell-height: 50px;
  --border-radius: 7px;
  --popup-radius: 2rem;
}
body {
  background: var(--background-clr);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--txt-clr);
}

h1 {
  text-align: center;
  text-shadow: var(--heading-txt-shadow);
}

.cinema {
  width: var(--cinema-width);
  margin: 60px auto;
}

table {
  border-collapse: separate;
  border-spacing: 10px;
}

.cell {
  width: var(--cell-width);
  height: var(--cell-height);
  border-radius: var(--border-radius);
  transition: background-color 0.6s ease-in-out, box-shadow 0.8s ease-in-out;
}
.seat {
  background-color: var(--seat-clr);
  cursor: pointer;
}
.seat:hover {
  scale: 0.95;
  background-color: var(--seat-hover-clr);
}

.selected {
  background-color: var(--selected-clr);
}

.booked {
  background-color: var(--booked-clr);
}

.seat.booked:hover {
  background-color: var(--booked-hover-clr);
  cursor: not-allowed;
}

.popup {
  position: absolute;
  right: 20px;
  top: 20px;

  background-color: var(--popup-bg-clr);
  padding: 1.4rem;

  border-radius: var(--popup-radius);
  box-shadow: var(--highlight-shadow);
}

.popup .btn-close {
  position: absolute;
  top: 10px;
  right: 10px;

  background-color: transparent;
  border: 1px solid var(--txt-clr);
  color: var(--txt-clr);
}
.popup .btn-book-seat {
  border-radius: var(--popup-radius);
  width: 100%;
}

.popup h4 {
  margin-inline: auto;
}

/* .popup h4 span.highlight-seats-btn img {
  max-width: 2rem;
  max-height: 2rem;
  border: 1px solid white;
  margin-inline-start: 0.5rem;
  padding: 1px;
  border-radius: 20px;
  background-color: yellow;
  cursor: pointer;
} */
.popup h4 span.highlight-seats-btn {
  max-width: 3rem;
  max-height: 3rem;
  border: none;
  margin-inline-start: 0.5rem;
  border-radius: 20px;
  background-color: transparent;
  cursor: pointer;
}

.cinema-screen {
  width: max(250px, 40%);
  max-height: 400px;
  margin: 3rem auto;
  background-color: var(--cinema-screen-bg);
  box-shadow: var(--screen-shadow);
  text-align: center;
  transition: scale 1s ease-in-out;
}
.cinema-screen:hover {
  scale: 1.1;
}

.cinema-screen h2 {
  height: max(100px, 20%);
  margin: 3rem auto;
  line-height: max(150px, 20%);
  font-size: 3rem;
  color: var(--cinema-screen-txt-clr);
  font-weight: 700;
  letter-spacing: 0.2rem;
}

.highlight {
  background-color: var(--highlight-clr);
  box-shadow: var(--highlight-shadow);
}
